{% extends "base.html" %} {% block content %}
<h1 class="mb-4">List Data</h1>
<div class="row mb-3">
  <div class="col-md-4">
    <input
      type="text"
      id="search-keyword"
      class="form-control"
      placeholder="Search by product name"
    />
  </div>
  <div class="col-md-4">
    <select id="sort-by" class="form-select">
      <option value="purchase_date">Sort by Purchase Date</option>
      <option value="price">Sort by Price</option>
      <option value="product_name">Sort by Product Name</option>
    </select>
  </div>
  <div class="col-md-4">
    <select id="sort-order" class="form-select">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
</div>
<div class="mb-3">
  <button class="btn btn-info" onclick="fetchData(1)">Fetch Data</button>
</div>
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>#</th>
      <th>Invoice ID</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Purchase Date</th>
    </tr>
  </thead>
  <tbody id="data-table-body"></tbody>
</table>
<nav>
  <ul class="pagination justify-content-center" id="pagination-controls"></ul>
</nav>

{% endblock %}
